:root {
    font-size: 16;
    font-family: 'Courier New', Courier, monospace;
    --text-primary:     #b69379;
    --text-secondary:   #c5aa6a;
    --bg-primary:       #2f2626; 
    --bg-secondary:     #4c3c3c;

    --bg-main:           #fefefe;
    --border-main:       #404040;
    --transition-speed:   400ms;

    /*
    #2f2626
	#4c3c3c
	#5f4c4c
	#c5aa6a
	#404040
    */
}

main {
    background-color: var(--bg-main);
    
}

body {
    color: var(--border-main);
    margin: 0;
    padding: 0;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.product-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.depth-1 {
    margin-right: 2em;
    border-width: 2px;
}

.depth-2 {
    text-align: start;
    margin-right: 4em;
    border-width: 2px;
}

.depth-3 {
    text-align: start;
    margin-right: 8em;
    border-width: 1px;
}

.depth-4 {
    text-align: end;
    margin-right: 12em;
    border-style: none;
}

.depth-5 {
    text-align: end;
    margin-right: 16em;
    border-style: none;
}

.depth-6 {
    text-align: end;
    margin-right: 20em;
    border-style: none;
}

.add-product {
    margin: 1rem;
}

.add-product svg {
    width: 3rem;
    height: 3rem;
}

h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    border-style: none none solid none;
    border-width: 1px;
    padding: 1rem;
    width: 100%;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width var(--transition-speed) ease;
    border-style: none solid none none;
    border-color: var(--border-main);
    border-width: 2px;
    z-index: 1;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:nth-child(2) {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
    fill: var(--text-primary)
}

.link-text {
    display: inline;
    margin-left: 1rem;
    opacity: 0;
    
}

.logo {
    border-style: solid;
    border-color: var(--border-main);
    border-width: 2px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(360deg);
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media all and (max-device-width: 1024px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 10rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
        height: 10rem;
    }

    .nav-link svg {
        min-width: 4rem;
        min-height: 4rem;
    }

    main {
        margin: 0;
        margin-bottom: 10rem;
    }
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
    .navbar {
        height: 5rem;
    }

    .nav-link {
        height: 5rem;
    }

    .nav-link svg {
        width: auto;
        height: auto;
    }

    main {
        margin: 0;
        margin-bottom: 5rem;
    }
}

@media all and (min-device-width: 1024px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
        animation: fade 1s;
        opacity: 1;
    }
    
    .navbar:hover .logo svg {
        margin-left: 11rem;
    }
    
    .navbar:hover .logo-text {
        left: 0px
    }

    .nav-link:hover {
        filter: grayscale(0%) opacity(1);
        background: var(--bg-secondary);
        color: var(--text-secondary);
    }

    .nav-link:hover svg {
        fill: var(--text-secondary);
    }
}