{% extends 'base.html' %}

{% block css_imports %}
<link rel="stylesheet" href="{{ url_for( 'static', filename='css/form_styles.css' ) }}"/>
{% endblock %}

{% block content %}
    <div class="product-header">
        <h2>Add Order</h2>
    </div>
    <div class="form-container">
    <form method="post" enctype="multipart/form-data">
        <label for="name">Name</label>
        <input name="name" id="name" required>
        <input type="submit" value="Add">
    </form>
    </div>
{% endblock %}